In [1]:
2 + 2

4

In [2]:
2+3*6

20

In [3]:
(2 + 3) * 6

30

In [4]:
48565878 * 578453

28093077826734

In [5]:
23 // 7

3

In [11]:
# This is a string

string = 'Hello, world!' 
print(string)

Hello, world!

In [14]:
# This is an integer

integer = 309 + 1 
print(integer)

310

In [15]:
# This is a floating point (decimals)

floating_point = 1.99 * 4.77665 
print(floating_point)

9.5055335

In [20]:
# String Concatenation

'Fizz' + 'Buzz'

'FizzBuzz'

In [22]:
# String Replication

'Alice' * 5 

# Only works for str * int : you can’t multiply two words, and it’s hard to 
# replicate an arbitrary string a fractional number of times.

'AliceAliceAliceAliceAlice'

In [25]:
# Assignment statement: variable name - assignment operator (=) - value

spam = 40
spam

# A variable is initialized (or created) the first time a value is stored in it

40

In [26]:
spam

40

In [28]:
# When a variable is assigned a new value, the old value is forgotten (eg. 40 ^^))

spam = 3 
spam

3

In [29]:
# it is a Python convention to start your variables with a lowercase letter, and use camelCase or underscores

In [37]:
# This PROGRAM says hello and asks for my name. # may need to 'interrupt' the Kernel to make it work

print('Hello, world!')
print('What is your name?')

myName = input()
print('It is good to meet you, ' + myName)

print('The length of your name is:')
print(len(myName))

print('What is your age?')    # ask for their age
myAge = input()

print('You will be ' + str(int(myAge) + 1) + ' in a year.')

Hello, world!
What is your name?
steve
It is good to meet you, steve
The length of your name is:
5
What is your age?
7
You will be 8 in a year.

In [38]:
len('My very energetic monster just scarfed nachos.') # 46 characters total including spaces

46

In [39]:
# Must convert the integer into a string to concatenate the strings

print('I am ' + str(29) + ' years old.')

I am 29 years old.

In [40]:
spam = input()

101

In [41]:
spam # as you can see - this returns 101 as a STRING as default because of the ''

'101'

In [42]:
# If you want to do math with the result - you need to convert to an INTEGER first

spam = int(spam)
spam

101

In [43]:
# Now you can treat the variable 'spam' as an integer

spam * 10 / 5

202.0

In [46]:
# Some values cannot be turned into an Integer

#int('99.99')
#int('twelve')

# The int() function is also useful if you need to round a floating-point number down.

int(7.7)

7

In [47]:
int(7.7) + 1

8

In [48]:
# An integer cannot be equal to a string but can be equal to a floating point

42 == '42'

False

In [49]:
42 == 42.0

True

In [50]:
'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'